@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*{margin: 0;padding: 0;box-sizing: border-box;}

body {
    font-family: 'Spartan', sans-serif;
    font-weight: 400;
    letter-spacing: 1.2px;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
}

.content-container {
    max-width: 80%;
    padding: 0 1rem;
}
.p-t-d {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.p-b-d {
    position: absolute;
    right: 0;
    z-index: -1;
}
.p-t-m {
    display: none;
}
.p-b-m {
    display: none;
}
.primary {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.col-1 h1{
    font-size: 2.8rem;
    color: hsl(300, 43%, 22%);
    line-height: 1;
}
.col-1 {
    padding: 0 2rem 4rem 0;
}
.col-1 p {
    font-weight: 700;
    line-height: 1.5;
    margin-top: 1rem;
    color: hsl(303, 10%, 53%);
    font-size: 0.9rem;
}
.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex-end {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.review {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
    background-color: hsl(300, 24%, 96%);
    border-radius: 8px;
    margin-bottom: 1rem;
}
.review p {
    font-size: 0.8rem;
    font-weight: 700;
    padding-right: 1rem;
}
.stars {
    padding: 0 1rem;
}
.secondary {
    width: 100%;
}
.cards {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card {
    padding: 2rem;
    background-color: hsl(300, 43%, 22%);
    border-radius: 8px;
}
.profile {
    display: flex;
    margin-bottom: 1.6rem;
}
.profile > img {
    width: 50px;
    border-radius: 50px;
    margin-right: 1.5rem;
}
.profile > p {
    font-size: 0.8rem;
    font-weight: 700;
    margin-top: 0.5rem;
    line-height: 1.8;
    color: hsl(0, 0%, 80%);
}
.profile > p > span {
    color: hsl(333, 80%, 67%);
}
.card p {
    color: hsl(0, 0%, 80%);
    font-weight: 700;
    font-size: 0.7rem;
    line-height: 1.7;
}
.top {
    margin-right: 2.5rem;
    margin-top: -50px;
}
.mid {
    margin-right: 2.5rem;
}
.bottom {
    margin-bottom: -50px;
}

.attribution {
    text-align: center;
    font-size: 0.8rem;
    margin-top: -20px;
    position: relative;
    line-height: 1.5;
    z-index: 1;
}

@media  screen and (max-width: 1440px) {
    .col-1 h1{
        font-size: 2.2rem;
    }
}
@media  screen and (max-width: 1240px) {
    .col-1 h1{
        font-size: 2rem;
    }
}

@media screen and (max-width: 1120px){
    .content-container {
        max-width: 85%;
        padding: 0 1rem;
    }
    .col-1 p {
        font-size: 0.8rem;
    }
    .review {
        padding: 0.8rem;
    }
    .star {
        width: 12px;
    }
    .review p {
        font-size: 0.7rem;
        font-weight: 700;
        padding-right: 0;
    }
}

@media  screen and (max-width: 990px) {
    .col-1 h1{
        font-size: 2rem;
        text-align: center;
    }
    .col-1 p {
        text-align: center;
    }
    .cards {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .card {
        width: 400px;
    }
    .top {
        margin-right: 0;
        margin-top: 0;
        margin-bottom: 1rem;
    }
    .mid {
        margin-right: 0;
        margin-bottom: 1rem;
    }
    .bottom {
        margin-bottom: 0;
    }
    .container {
        width: 100%;
        height: auto;
        padding: 5rem 0;
    }
    .p-t-d {
        display: none;
    }
    .p-b-d {
        display: none;
    }
    .p-t-m {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .p-b-m {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -1;
    }
    .primary {
        display: grid;
        grid-template-columns: 1fr;
        margin-bottom: 2rem;
    }
    .col-1 {
        padding: 1rem;
        padding-bottom: 3rem;
    }

}

@media  screen and (max-width: 600px){
    .col-1 h1 {
        font-size: 1.5rem;
        line-height: 1.6;
    }
    .card {
        width: 350px;
    }
    .star {
        width: 10px;
    }
    .flex-start {
        justify-content: center;
    }
    .flex-center {
        justify-content: center;
    }
    .flex-end {
        justify-content: center;
    }

}

@media  screen and (max-width: 400px){
    .card {
        width: 250px;
    }
    .col-1 h1 {
        font-size: 1.2rem;
    }
}